{{template "base/head" .}}
<div class="ui repository branches">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<div>
			<form class="ui form" id="transfer-point-form" action="{{.Link}}/action/funding" method="post">
				{{.CsrfTokenHtml}}
				<input type="hidden" name="toid" value="{{ $.Repository.Owner.Name }}">
				<input type="hidden" name="repoid" value="{{ $.Repository.ID }}">
				<input name="why" placeholder="为什么" value="捐赠{{$.Repository.Name}}项目" autocomplete="off" required>
				<input name="qty" placeholder="积分数" autocomplete="off" required>
				<button class="ui green button">确定</button>
		</div>
		<div>
			<ul>
				{{range .Funds}}
					<li>{{.Name}} {{.Qty}}</li>
				{{end}}
			</ul>
		</div>
	</div>
</div>
{{template "base/footer" .}}
